<!-- 
SOURCE: app/views/sessions/new.html.erb
-SESSION CREATION /LOGGIN PAGE-
SIXTH step:
1. receives info from controller (Sessions_Controller in this case)
SEVENTH step:
1. This View uses embedded Ruby to render the page as HTML and sends it back 
	to the controller
 -->

<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
  	<!-- form_tag -->
    <%= form_tag sessions_path, method: 'post' do -%>
      <%= label_tag 'email' %><br />
      <%= text_field_tag :email, params[:email], placeholder: "Email" %>

      <%= label_tag 'password' %><br />
      <%= password_field_tag :password %>

      <%= submit_tag 'Sign in' %>
    <%  end -%>
    <!-- 'do' keyword indicates that 'form_for' takes a block with one variable, which we’ve called 'f' for “form” -->
    <!-- indicate the name of the resource, and the corresponding URL -->
    <!-- CHANGED FROM: 'form_for'
     form_for(:session, url: sessions_path) do |f|
      f.label :email
      f.text_field :email
      f.label :password
      f.password_field :password
      f.submit "Sign In", class: "btn btn-large btn-primary"
    end -->
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>